body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  width: 128px;
  padding: 12px 24px;
  color: white;
  background-color: darkslategrey;
  border-radius: 12px;
  font-size: 1.2rem;
}

button[disabled] {
  background-color: lightgray;
}

h1 {
  font-size: 3rem;
}

.selection-buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.result {
  display: flex;
  gap: 64px;
  text-align: center;
  margin: 48px;
}

.result p {
  font-size: 1.4rem;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#player-choice,
#computer-choice {
  font-size: 64px;
  margin-bottom: 0;
  margin-top: 16px;
}
